@import '../../../../../styles/variables.scss';

.Study {
	box-sizing: border-box;
	padding: 0.5rem;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	.Title {
		font-size: 1.1rem;
		font-weight: bold;
		color: $primary;
	}
	.University {
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
		.Img {
			width: 1rem;
			height: 1rem;
			margin-right: 0.5rem;
		}
		.Text {
			font-size: 1rem;
			color: $secondary;
		}
	}
	.Year {
		font-size: 0.8rem;
		color: $darkgrey;
	}
}
