@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';

.Title {
	font-size: 1.5rem;
	color: $primary;
	margin: 0;
	position: relative;
	border-bottom: 2px solid $grey;
	@include mobile {
		font-size: 1.3rem;
	}
	&:before {
		position: absolute;
		background: $secondary;
		height: 2px;
		content: '';
		width: 30px;
		bottom: -2px;
		left: 0;
	}
}
