.Skills {
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	.Container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
